<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container-fluid" style="background-color: #f5f6fa; padding: 5px; color: #007bff">
            <a href="InfEdicionCotizacion.aspx"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
            <i class="fas fa-print fa-2x"></i>
        </div>
    </div>
    <div class="container-fluid">
        <fieldset class="container-fluid border-content">
            <legend style="color: #4E8FCB !important">Encabezado</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Cotización No :</label>
                    </div>
                    <div class="col-sm-3">
                        <label id="consecutivo">{{consecutivo.NewCotizacion}}</label>
                    </div>
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Fecha :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput" id="FechaActual"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Solicitud No :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput" id="txtSolicitud"></label>
                    </div>

                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Empresa :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput">{{encabezado.empresa.EmpresaNombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">NIT: </label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput">{{encabezado.empresa.EmpresaNit}}</label>
                    </div>
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Fecha Entrega :</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-control-sm input-Fecha" id="txtFechaEntrega" value="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Correo :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput" id="txtCorreo">{{encabezado.empresa.EmpresaCorreo}}</label>
                    </div>
                     <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Dirección :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput" id="txtDireccion">{{encabezado.empresa.EmpresaPais}}-{{encabezado.empresa.EmpresCiudad}}-{{encabezado.empresa.EmpresaDireccion}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Contacto :</label>
                    </div>
                    <div class="col-sm-3">
                        <label for="formGroupExampleInput" id="txtTelefono">{{encabezado.empresa.EmpresaTelefono}}</label>
                    </div>
                    <div class="col-sm-3 tittle-head-color">
                        <label for="formGroupExampleInput">Especificaciones :</label>
                    </div>
                    <div class="col-sm-1">
                        <i class="far fa-sticky-note fa-2x" style="color: #007bff;" data-toggle="modal" data-target="#modalObservaciones"></i>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />
        <table class="table table-bordered">
                <thead class="thead-table">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col" class="size-um-solicitud">UM</th>
                        <th scope="col" class="size-cant-solicitud">Cantidad</th>
                        <th scope="col" class="size-cant-solicitud">UnitarioNeto</th>
                        <th scope="col" class="size-cant-solicitud">IVA</th>
                        <th scope="col" class="size-cant-solicitud">Unitario</th>
                        <th scope="col" class="size-cant-solicitud">Total</th>
                        
                         
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in solicitudDet">
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for id="formGroupExampleInput" >{{p.producto.ProductoDescripcion}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for id="formGroupExampleInput" >{{p.unidad.UnidadSiglas}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12 alling-numbers">
                                    <label  id="txtCant{{p.solicitudDetalle.SolicitudDetId}}" class="alling-numbers">{{p.solicitudDetalle.SolicitudDetCant}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12 alling-numbers">
                                    <input type="text" class="form-control form-control-sm alling-numbers"  id="txtNeto{{p.solicitudDetalle.SolicitudDetId}}" value="{{p.cotizacionDetalle.CotizacionDetUnitNeto}}" ng-blur="calular(p)">
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12 alling-numbers">
                                    <label for="" id="" class="alling-numbers">19 %</label>
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12 alling-numbers">
                                    <label  id="txtUnitario{{p.solicitudDetalle.SolicitudDetId}}" class="alling-numbers">{{p.cotizacionDetalle.CotizacionDetUnitario}}</label>
                                </div>
                            </div>
                        </td>
                        <td class="label-td-solicitud">
                            <div class="row">
                                <div class="col-sm-12 alling-numbers">
                                    <label  id="txtTotal{{p.solicitudDetalle.SolicitudDetId}}" class="alling-numbers">{{p.cotizacionDetalle.CotizacionDetTotal}}</label>
                                </div>
                            </div>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
            </br>
            <label>Subtotal: $</label>
            <label id="txtSub">0.00</label>
            <label>IVA: $</label>
            <label id="txtIva">0.00</label>
            <label>Total: $</label>
            <label id="txtTotal">0.0</label>
        </fieldset>


        <!-- Modal Observaciones -->
        <div class="modal fade" id="modalObservaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Especificaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" id="txtEspcifi" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Observaciones -->
        <!-- Hiddens -->
        <input type="hidden" id="txtCotizacionId" />
        <!-- Hiddens -->
    </div>
</body>
</html>