<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../Inicio/inicio.aspx">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cotizaciones</li>
          <li class="breadcrumb-item active" aria-current="page">Autorizar Cotización</li>
        </ol>
      </nav>
      <div ng-app="autorizaApp">
          <div ng-controller="autorizaController">
              <div class="container-fluid">
                  <h6 style="color: #007bff">Autorizar Cotización</h6>
              </div>
              <div class="container-fluid">
                  <fieldset class="container-fluid border-content">
                      <legend style="color: #4E8FCB !important">Filtros</legend>
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-2">
                                  <div class="form-group ">
                                      <label for="formGroupExampleInput">Cotización N°</label>
                                      <input type="text" class="form-control form-control-sm" id="txtNumero" name="txtNumero" placeholder="Ingrese el Numero">
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="form-group ">
                                      <label for="formGroupExampleInput">Fecha Inicial</label>
                                      <input type="text" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio">
                                  </div>
                              </div>
                              <div class="col-sm-3">
                                  <div class="form-group ">
                                      <label for="formGroupExampleInput">Fecha Final</label>
                                      <input type="text" class="form-control form-control-sm " id="txtFechaFin" name="txtFechaFin">
                                  </div>
                              </div>
  
                              <div class=" col-sm-1">
                                  <div class="form-group ">
                                      <button type="button" class="btn btn-primary  button-search" ng-click="cosultaCotizaciones()">Consultar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </fieldset>
                  <br />
                  <table class="table table-bordered" id="tableProductos">
                      <thead class="thead-table">
                          <tr>
                              <th scope="col" class="tamano-codigo-table">Cotizacion Numero</th>
                              <th scope="col" class="tamano-codigo-table">Solicitud Numero</th>
                              <th scope="col" class="size-date-aprob">Fecha</th>
                              <th scope="col" class="size-date-aprob">Fecha Entrega</th>
                              <th scope="col">Especificaciones</th>
                              <th scope="col" class="size-status-aprob">Total</th>
                              <th scope="col" class="size-status-aprob">Estado</th>
                              <th scope="col" class="icon-table-size">Aprobar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="p in consulta">
                              <td><a href="ComparativoGrafico.aspx?solicitudId={{p.solicitud.SolicitudId}}">{{p.cotizacion.CotizacionNumero}}</a></td>
                              <td>{{p.solicitud.SolicitudNumero}}</td>
                              <td>{{p.cotizacion.CotizacionFecha}}</td>
                              <td>{{p.cotizacion.CotizacionEntrega}}</td>
                              <td>{{p.cotizacion.CotizacionEspecificacion}}</td>
                              <td>{{p.CotizacionTotal}}</td>
                              <td>{{p.estado.EstadoDescripcion}}</td>
                              <td class="icon-table-aling"><i id="iconAproba" class="far fa-square fa-lg icon-table" ng-click="aprobar(p)"></i></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
</body>
</html>